.HomePage {
	   
     display: grid;
	 grid-template-rows: 1fr 3fr;

	.header-section{
		text-align: center;
		font-size: 4rem;
	}
	
	.all-teams-section{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr ;
	}
	
	.individual-team-section{
		background-color: #2641a0;
		margin: 10px;
		text-align: center;
		align-content: center;
	}
}

a{
	color: darkorange;
}